sudo: required

language: node_js
node_js:
    - "4.0" # our minimum required version
    - "4" # latest 4.x
    - "5" # latest 5.x
    - "6" # latest 6.x

os:
    - linux
    - osx

script: ./.travis-build.sh
