sudo: false # run in a container-based travis environment
language: node_js
node_js:
    - "0.9" # our minimum required version
    - "4" # latest 4.x
    - "5" # latest 5.x
    - "6" # latest 6.x

os:
    - linux
    - osx

script: npm run task ci
