sudo: false # run in a container-based travis environment
language: node_js
node_js:
    - "4.0" # our minimum required version
    - "4" # latest 4.x
    - "5" # latest 5.x
    - "6" # latest 6.x

os:
    - linux
    - osx


# Install g++ 4.8 because we need a C++11 compiler
# (https://docs.travis-ci.com/user/languages/javascript-with-nodejs#Node.js-v4-(or-io.js-v3)-compiler-requirements)
env:
    - CXX=g++-4.8

addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - g++-4.8
            - wget # update wget (default version is too old to understand the cmake.org cert)

# Travis container-based images only provide a single whitelisted version of cmake via the apt add-on, and we need
# a newer version of cmake, so let's just build it ourselves
before_install:
    - bash .travis-install-cmake.sh "$HOME/cmake"
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export PATH=$HOME/cmake/bin:$PATH; fi
    - cmake --version

# cache cmake so we don't have to download and build it each time
cache:
    directories:
        - $HOME/cmake


script: npm run task ci
